/* line 1, ../sass/base/_base.scss */
h1 {
  color: #fff;
}

/* line 1, ../sass/layout/_layout.scss */
header {
  height: 70px;
  background-color: #2a3137;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 8px;
}
/* line 5, ../sass/layout/_layout.scss */
header h1 {
  color: #fff;
  font-size: 28px;
}
/* line 9, ../sass/layout/_layout.scss */
header img {
  margin: -10px 0 0 10px;
}

/* line 14, ../sass/layout/_layout.scss */
table#board {
  margin-top: 15px;
  border: 10px solid #3f7abc;
  border-collapse: collapse;
}
/* line 18, ../sass/layout/_layout.scss */
table#board td {
  background: #3f7abc url("../img/none.png") no-repeat;
  display: table-cell;
  border: none;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

/* line 27, ../sass/layout/_layout.scss */
#indicator {
  display: table-cell;
  font-weight: bold;
  font-size: 10px;
  width: 80px;
  height: 80px;
  vertical-align: middle;
  text-align: center;
}

/* line 1, ../sass/state/_state.scss */
.yellow {
  background: url("../img/yellow.png") #3f7abc no-repeat !important;
}

/* line 4, ../sass/state/_state.scss */
.red {
  background: url("../img/red.png") #3f7abc no-repeat !important;
}

/* line 1, ../sass/utilities/_utilities.scss */
.d-iblock {
  display: inline-block !important;
}

/* line 5, ../sass/utilities/_utilities.scss */
.m-spacer-1 {
  margin-top: 10px;
}

/* line 5, ../sass/utilities/_utilities.scss */
.m-spacer-2 {
  margin-top: 20px;
}

/* line 5, ../sass/utilities/_utilities.scss */
.m-spacer-3 {
  margin-top: 30px;
}

/* line 5, ../sass/utilities/_utilities.scss */
.m-spacer-4 {
  margin-top: 40px;
}

/* line 5, ../sass/utilities/_utilities.scss */
.m-spacer-5 {
  margin-top: 50px;
}

/* line 5, ../sass/utilities/_utilities.scss */
.m-spacer-6 {
  margin-top: 60px;
}

/* line 5, ../sass/utilities/_utilities.scss */
.m-spacer-7 {
  margin-top: 70px;
}

/* line 5, ../sass/utilities/_utilities.scss */
.m-spacer-8 {
  margin-top: 80px;
}

/* line 5, ../sass/utilities/_utilities.scss */
.m-spacer-9 {
  margin-top: 90px;
}

/* line 5, ../sass/utilities/_utilities.scss */
.m-spacer-10 {
  margin-top: 100px;
}
