.chips-sprite, .chips-none, table#board td, .chips-red, .chips-yellow { background-image: url('../img/chips-sc020fb49f7.png'); background-repeat: no-repeat; }

.chips-none, table#board td { background-position: 0 0; }

.chips-red { background-position: 0 -80px; }

.chips-yellow { background-position: 0 -160px; }

header { height: 62px; background-color: #2a3137; -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 8px; -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 8px; box-shadow: rgba(0, 0, 0, 0.2) 0 3px 8px; }
header h1 { color: #fff; font-size: 28px; letter-spacing: -1px; margin-top: 15px; }
header img { margin: -10px 0 0 10px; }

#indicator { font-weight: bold; font-size: 10px; width: 80px; height: 80px; padding-top: 33px; text-align: center; background-color: transparent !important; display: inline-block !important; margin-left: -25px; }
#indicator.chips-red { color: #fff; }

table#hover-board { border-left: 10px solid #fff; border-right: 10px solid #fff; margin-bottom: 5px !important; border-collapse: collapse; }
table#hover-board td { width: 80px; height: 85px; display: table-cell; border-top: 1px solid #fff; }

table#board { border: 10px solid #3f7abc; border-collapse: collapse; z-index: 1; }
table#board td { background-color: #3f7abc; display: table-cell; border: none; width: 80px; height: 80px; cursor: pointer; }

#board-overlay { width: 100%; margin-top: 86px; height: 489px; z-index: 2; background: rgba(0, 0, 0, 0.2); position: relative; }

.new-game { margin-right: -15px; padding: 8px 0; width: 180px; }

.guide { display: inline-block !important; margin-left: -25px; }

.trophy span { background: url("../img/trophy.png") no-repeat; height: 150px; width: 150px; }

.push-pad-right { padding-right: 30px; }

.modal { text-align: center; padding: 0 !important; }

.modal:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; margin-right: -4px; }

.modal-dialog { display: inline-block; text-align: left; vertical-align: middle; }

.chips-red { background-position: 0 -80px !important; }

.chips-yellow { background-position: 0 -160px !important; }

.d-iblock { display: inline-block !important; }

.d-none { display: none !important; }

.m-spacer-1 { margin-top: 10px; }

.m-spacer-2 { margin-top: 20px; }

.m-spacer-3 { margin-top: 30px; }

.m-spacer-4 { margin-top: 40px; }

.m-spacer-5 { margin-top: 50px; }

.m-spacer-6 { margin-top: 60px; }

.m-spacer-7 { margin-top: 70px; }

.m-spacer-8 { margin-top: 80px; }

.m-spacer-9 { margin-top: 90px; }

.m-spacer-10 { margin-top: 100px; }
