@import "chips/*.png";
@include all-chips-sprites;

header {
	height: 62px;
	background-color: #2a3137;
	@include box-shadow(rgba(0, 0, 0, 0.2) 0 3px 8px);
	h1 {
		color: #fff;
		font-size: 28px;
		letter-spacing: -1px;
		margin-top: 15px;
	}
	img {
		margin: -10px 0 0 10px;
	}
}
#indicator {
	font-weight: bold;
	font-size: 10px;
	width: 80px;
	height: 80px;
	padding-top: 33px;
	text-align: center;
	background-color: transparent !important;
	display: inline-block !important;
	margin-left: -25px;
	&.chips-red {
		color: #fff;
	}
}
table#hover-board {
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
	margin-bottom: 5px !important;
	border-collapse: collapse;
	td {
		width: 80px;
		height: 85px;
		display: table-cell;
		border-top: 1px solid #fff;
	}
}
table#board {
	border: 10px solid #3f7abc;
	border-collapse: collapse;
	z-index: 1;
	td {
		@extend .chips-none;
		background-color: #3f7abc;
		display: table-cell;
		border: none;
		width: 80px;
		height: 80px;
		cursor: pointer;
	}
}
#board-overlay {
	width: 100%;
	margin-top: 86px;
	height: 489px;
	z-index: 2; 
	background: rgba(0,0,0,0.2);
	position: relative;
}
.new-game {
	margin-right: -15px;
    padding: 8px 0;
    width: 180px;
}
.guide {
	display: inline-block !important;
	margin-left: -25px;
}
.trophy span {
	background: url("../img/trophy.png") no-repeat;
	height: 150px;
	width: 150px;
}
.push-pad-right {
	padding-right: 30px;
}